.slider__pagination {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 60.5rem;
	z-index: 20;

	.swiper-pagination-bullet {
		width: .6rem;
		height: .6rem;
		margin: 0 .8rem 0 .8rem !important;
		background-color: #CED2DA;
	}

	.swiper-pagination-bullet-active {
		background-color: #2B3350;
	}
}

@media (max-width: 48em) {
	.slider__pagination {
		top: 37.4rem;
	}
	.swiper-pagination-bullet {
		width: .8rem !important;
		height: .8rem !important;
	}
}