.slider__pagination {
	position: absolute;
	left: 97.1% !important;
	top: 94%;
	z-index: 20;
	transform: translate(-50%, 0) !important;

	.swiper-pagination-bullet {
		width: .6rem;
		height: .6rem;
		margin: 0 .8rem 0 .8rem !important;
		background-color: #CED2DA;
	}

	.swiper-pagination-bullet-active {
		background-color: #2B3350;
	}
}