.slider__title {
	font-size: 5.4rem;
	letter-spacing: -0.03em;
	margin-bottom: 2.1rem;
	strong {
		display: block;
		font-weight: 900;
	}
}

@media (max-width: 48em) {
	.slider__title {
		font-size: 3.4rem;
		font-weight: 500;
    	letter-spacing: 0;
	}
}