.questions__checkbox {
	position: absolute;
  	z-index: -1;
	opacity: 0;
	&+.questions__label{
		display: inline-flex;
		align-items: center;
		user-select: none;
	}
	&+.questions__label::before{
		content: '';
		display: inline-block;
		width: 2rem;
		height: 2rem;
		flex-shrink: 0;
		flex-grow: 0;
		border: .1rem solid #6F7487;
		border-radius: 0.5rem;
		margin-right: 1.8rem;
		background: #576077;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}

	&:checked+.questions__label::before {
		border-color: #2F80ED;
		background: #2F80ED url("../img/questions/check.svg") no-repeat center / 1rem;
	}

	&:not(:disabled):not(:checked)+.questions__label:hover::before {
		background: #FFFFFF;
	}
}

@media (max-width: 48em) {
	.questions__checkbox {
		&+.questions__label::before{
			width: 3.8rem;
			height: 3.8rem;
			border-radius: 0.8rem;
		}

		&:checked+.questions__label::before {
			background: #2F80ED url("../img/questions/check.svg") no-repeat center / 2.5rem;
		}
	}
}

