.modal__img {
	width: 32.5rem;
    height: 34.5rem;
	position: absolute;
	left: 50%;
	top: -14rem;
	transform: translate(-50%, 0);
}

@media (max-width: 48em) {
	.modal__img {
		width: 16.5rem;
    	height: 16.5rem;
		top: -8rem;
	}
}