.delivery__block {
	@include vercen;
	flex-direction: column;
	text-align: center;
}

@media (max-width: 48em) {
	.delivery__block {
		width: 71rem;
		flex-wrap: wrap;
		margin-bottom: 5rem;
		flex-direction: row;
		text-align: start;
	}
}