.questions__label {
	@include font (300, 1.8rem, 1.30);
	color: #576077;
	cursor: pointer;
	
}

@media (max-width: 48em) {
	.questions__label {
		@include font (300, 2.2rem, 1.10);
		padding-right: 12rem;
	}
}