.record {
	background-image: url('../img/record/back.png');
	background-position: center center;
	background-size: cover;
	padding-bottom: 10.8rem;
	margin-top: 8.8rem;
	height: 60rem;
}

@media (max-width: 48em) {
	.record {
		margin-top: 78.8rem;
		margin-bottom: 10rem;
		background-size: initial;
	}
}	