.header-logo__text {
	@include font (normal, 1.8rem, 1.50);
	text-align: center;
	text-transform: uppercase;
	margin-top: -.5rem;
}


@media (max-width: 48em) {
	.header-logo__text {
		@include font (normal, 1.6rem, 1.50);
    	letter-spacing: 0.15rem;
	}
}