.select__body--active {
	display: block;
	position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: 10;
	padding: 6rem 6rem 2rem 3rem;
	background: #FFFFFF;
	border: 1px solid #EDEDF2;
	box-shadow: 0 .5rem 1rem rgba(157, 160, 166, 0.15);
	border-radius: .8rem;
}